version: '3'
services:
    user-server:
        container_name: api
        #network_mode: "host"
        build: .
        ports:
            - 4010:4010
        env_file:
            - ./environment/.env.development
        #network_mode: host